@model List<PP4.MVC.Models.Persona>
@{
    ViewBag.Title = "Persona";
}

<h2>@ViewBag.title</h2>

<div>
    <div class="col-md-12">
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Correo</th>

            </tr>
        </table>

    </div>
    </div>

