@model List<PP4.MVC.Models.ViewsModels.ViewAsiento>

@{
    ViewBag.Title = "Catalogo Asientos";
}
<h2>@ViewBag.Title.</h2>
<div class="row" style="text-align:left;padding:3px">
    <a href="~/Asientos/Nuevo" class="btn btn-outline-primary">Nuevo</a>

</div>

<div class=" row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="thead-light">

                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    
                    <th></th>
                </tr>

                @foreach (var oElemento in Model)
                {
                    <tr>
                        <td>@oElemento.ID_Asientos</td>
                        <td>@oElemento.Desc_Asientos</td>
                        <td>@oElemento.Precio</td>
                        

                        <td>
                            <a class="btn btn-outline-success" href="~/Asientos/Editar/@oElemento.ID_Asientos">Editar</a>
                            <a href="~/Asientos/Eliminar/@oElemento.ID_Asientos" class="btn btn-outline-info" role="button">Eliminar</a>
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>


